/* style.css */
/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Custom CSS for the navbar */
.navbar {
    background-color: black;
}

.navbar-brand {
    color: white;
    margin-right: 30%;
    font-family: "Lucida Calligraphy", sans-serif;
}
.navbar-brand , a:hover {
    color: #ffffff !important; ;
}


.navbar-nav .nav-link {
    color: white;
    margin-left: 100px;
    text-align: right;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-container {
    background-color: black;
    color: white;
}

@media (max-width: 767px) {
    /* Center align navbar items on mobile */
    .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        margin: 0 auto; /* Center align the toggle button */
    }
    .navbar .nav-link{
        text-align: center;
        margin: 0;

    }
}





/* Hero Section styles */
.hero {
    background-image: url('/assets/images/h.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Featured Articles styles */
.featured-articles {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.article-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.article-card img {
    max-width: 100%;
}

/* Event Calendar styles */
.event-calendar {
    padding: 40px 0;
}

.event-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* User Registration styles */
.user-registration {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.user-registration form {
    max-width: 400px;
    margin: 0 auto;
}

.user-registration input[type="text"],
.user-registration input[type="email"],
.user-registration input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.user-registration button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

